backend-java/src/main/resources/soap/xsd/viajes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://ecuaviptour.com/soap/viajes"
           xmlns:tns="http://ecuaviptour.com/soap/viajes"
           elementFormDefault="qualified">

    <xs:complexType name="usuarioSoapType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="correo" type="xs:string"/>
            <xs:element name="telefono" type="xs:string" minOccurs="0"/>
            <xs:element name="cedula" type="xs:string" minOccurs="0"/>
            <xs:element name="foto_perfil_url" type="xs:string" minOccurs="0"/>
            <xs:element name="rol" type="xs:string"/>
            <xs:element name="activo" type="xs:boolean"/>
            <xs:element name="fecha_registro" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="vehiculoSoapType">
        <xs:sequence>
            <xs:element name="id" type="xs:long" minOccurs="0"/>
            <xs:element name="placa" type="xs:string" minOccurs="0"/>
            <xs:element name="marca" type="xs:string" minOccurs="0"/>
            <xs:element name="modelo" type="xs:string" minOccurs="0"/>
            <xs:element name="anio" type="xs:int" minOccurs="0"/>
            <xs:element name="tipo" type="xs:string" minOccurs="0"/>
            <xs:element name="capacidad_max" type="xs:int" minOccurs="0"/>
            <xs:element name="color" type="xs:string" minOccurs="0"/>
            <xs:element name="estado" type="xs:string" minOccurs="0"/>
            <xs:element name="foto_auto_url" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="calificacionSoapType">
        <xs:sequence>
            <xs:element name="estrellas" type="xs:int"/>
            <xs:element name="comentario" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="viajeSoapType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="viaje_id" type="xs:long" minOccurs="0"/>
            <xs:element name="origen" type="xs:string"/>
            <xs:element name="destino" type="xs:string"/>
            <xs:element name="distancia_km" type="xs:double"/>
            <xs:element name="monto" type="xs:double"/>
            <xs:element name="estado_pago" type="xs:string"/>
            <xs:element name="estado_logistico" type="xs:string"/>
            <xs:element name="tipo_servicio" type="xs:string" minOccurs="0"/>
            <xs:element name="fecha" type="xs:string"/>
            <xs:element name="fecha_limite_pago" type="xs:string" minOccurs="0"/>
            <xs:element name="comentario_rechazo" type="xs:string" minOccurs="0"/>
            <xs:element name="qr_hash" type="xs:string" minOccurs="0"/>
            <xs:element name="nombre_chofer" type="xs:string" minOccurs="0"/>
            <xs:element name="chofer_id" type="xs:long" minOccurs="0"/>
            <xs:element name="foto_chofer_url" type="xs:string" minOccurs="0"/>
            <xs:element name="cliente_id" type="xs:long" minOccurs="0"/>
            <xs:element name="nombre_cliente" type="xs:string" minOccurs="0"/>
            <xs:element name="foto_cliente_url" type="xs:string" minOccurs="0"/>
            <xs:element name="chofer" type="tns:usuarioSoapType" minOccurs="0"/>
            <xs:element name="vehiculo" type="tns:vehiculoSoapType" minOccurs="0"/>
            <xs:element name="calificacion" type="tns:calificacionSoapType" minOccurs="0"/>
            <xs:element name="asientos" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="referencia" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Cotizar -->
    <xs:element name="cotizarRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="distancia_km" type="xs:decimal"/>
                <xs:element name="tipo_servicio" type="xs:string"/>
                <xs:element name="num_pasajeros" type="xs:int" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="cotizarResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="precio_total" type="xs:decimal"/>
                <xs:element name="precio_unitario" type="xs:decimal"/>
                <xs:element name="zona" type="xs:string"/>
                <xs:element name="mensaje" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Reservar -->
    <xs:element name="reservarRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="origen" type="xs:string"/>
                <xs:element name="lat_origen" type="xs:decimal" minOccurs="0"/>
                <xs:element name="lng_origen" type="xs:decimal" minOccurs="0"/>
                <xs:element name="destino" type="xs:string"/>
                <xs:element name="lat_destino" type="xs:decimal" minOccurs="0"/>
                <xs:element name="lng_destino" type="xs:decimal" minOccurs="0"/>
                <xs:element name="referencia" type="xs:string" minOccurs="0"/>
                <xs:element name="tipo_servicio" type="xs:string"/>
                <xs:element name="duracion_minutos" type="xs:int" minOccurs="0"/>
                <xs:element name="distancia" type="xs:decimal" minOccurs="0"/>
                <xs:element name="fecha_viaje" type="xs:string" minOccurs="0"/>
                <xs:element name="tarifa" type="xs:decimal" minOccurs="0"/>
                <xs:element name="num_pasajeros" type="xs:int" minOccurs="0"/>
                <xs:element name="chofer_id" type="xs:long" minOccurs="0"/>
                <xs:element name="cliente_id" type="xs:long" minOccurs="0"/>
                <xs:element name="estado_pago" type="xs:string" minOccurs="0"/>
                <xs:element name="asientos" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="reservarResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="viaje_id" type="xs:long"/>
                <xs:element name="monto_total" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Mis Viajes -->
    <xs:element name="getMisViajesRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMisViajesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viajes" type="tns:viajeSoapType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Viaje Activo -->
    <xs:element name="getViajeActivoRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getViajeActivoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viaje" type="tns:viajeSoapType" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Asientos Ocupados -->
    <xs:element name="getAsientosOcupadosRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viaje_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAsientosOcupadosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="asientos" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="calificarRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viaje_id" type="xs:long" minOccurs="0"/>
                <xs:element name="reserva_id" type="xs:long" minOccurs="0"/>
                <xs:element name="estrellas" type="xs:int"/>
                <xs:element name="comentario" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="calificarResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="calificacion_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Validar Abordaje -->
    <xs:element name="validarAbordajeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viaje_id" type="xs:long"/>
                <xs:element name="codigo" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="validarAbordajeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mensaje" type="xs:string"/>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Cancelar -->
    <xs:element name="cancelarViajeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viaje_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="cancelarViajeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <!-- Shared Trips / Viaje Programado and Reserva Types -->
    <xs:complexType name="viajeProgramadoSoapType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="dir_origen" type="xs:string"/>
            <xs:element name="dir_destino" type="xs:string"/>
            <xs:element name="fecha_hora_salida" type="xs:string"/>
            <xs:element name="precio_asiento" type="xs:decimal"/>
            <xs:element name="capacidad_total" type="xs:int"/>
            <xs:element name="asientos_disponibles" type="xs:int"/>
            <xs:element name="estado" type="xs:string"/>
            <xs:element name="chofer" type="tns:usuarioSoapType" minOccurs="0"/>
            <xs:element name="vehiculo" type="tns:vehiculoSoapType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="reservaSoapType">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="viaje_programado_id" type="xs:long"/>
            <xs:element name="dir_origen" type="xs:string"/>
            <xs:element name="dir_destino" type="xs:string"/>
            <xs:element name="fecha_hora_salida" type="xs:string"/>
            <xs:element name="usuario_id" type="xs:long"/>
            <xs:element name="nombre_usuario" type="xs:string" minOccurs="0"/>
            <xs:element name="numero_asiento" type="xs:int"/>
            <xs:element name="punto_abordaje" type="xs:string"/>
            <xs:element name="estado_pago" type="xs:string"/>
            <xs:element name="pin_abordaje" type="xs:string"/>
            <xs:element name="fecha_reserva" type="xs:string"/>
            <xs:element name="fecha_limite_pago" type="xs:string" minOccurs="0"/>
            <xs:element name="comprobante_url" type="xs:string" minOccurs="0"/>
            <xs:element name="foto_usuario_url" type="xs:string" minOccurs="0"/>
            <xs:element name="precio_asiento" type="xs:double"/>
            <xs:element name="chofer" type="tns:usuarioSoapType" minOccurs="0"/>
            <xs:element name="vehiculo" type="tns:vehiculoSoapType" minOccurs="0"/>
            <xs:element name="estado_logistico" type="xs:string" minOccurs="0"/>
            <xs:element name="calificacion" type="tns:calificacionSoapType" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Create Viaje Programado (Admin) -->
    <xs:element name="createViajeProgramadoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="chofer_id" type="xs:long"/>
                <xs:element name="vehiculo_id" type="xs:long"/>
                <xs:element name="dir_origen" type="xs:string"/>
                <xs:element name="dir_destino" type="xs:string"/>
                <xs:element name="fecha_hora_salida" type="xs:string"/>
                <xs:element name="precio_asiento" type="xs:decimal"/>
                <xs:element name="capacidad_total" type="xs:int" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createViajeProgramadoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viaje_programado" type="tns:viajeProgramadoSoapType"/>
                <xs:element name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Update Viaje Programado (Admin) -->
    <xs:element name="updateViajeProgramadoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
                <xs:element name="chofer_id" type="xs:long"/>
                <xs:element name="vehiculo_id" type="xs:long"/>
                <xs:element name="dir_origen" type="xs:string"/>
                <xs:element name="dir_destino" type="xs:string"/>
                <xs:element name="fecha_hora_salida" type="xs:string"/>
                <xs:element name="precio_asiento" type="xs:decimal"/>
                <xs:element name="capacidad_total" type="xs:int" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateViajeProgramadoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viaje_programado" type="tns:viajeProgramadoSoapType"/>
                <xs:element name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Delete Viaje Programado (Admin) -->
    <xs:element name="deleteViajeProgramadoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="deleteViajeProgramadoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get Available Scheduled Trips -->
    <xs:element name="getViajesProgramadosRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getViajesProgramadosResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viajes_programados" type="tns:viajeProgramadoSoapType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Reserve Seat in Shared Trip -->
    <xs:element name="reservarViajeCompartidoRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viaje_programado_id" type="xs:long"/>
                <xs:element name="numero_asiento" type="xs:int"/>
                <xs:element name="punto_abordaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="reservarViajeCompartidoResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reserva" type="tns:reservaSoapType"/>
                <xs:element name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get User's Reservas -->
    <xs:element name="getMisReservasRequest">
        <xs:complexType>
            <xs:sequence/>
        </xs:complexType>
    </xs:element>

    <xs:element name="getMisReservasResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservas" type="tns:reservaSoapType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Validate PIN for Check-in -->
    <xs:element name="validarPinAbordajeRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reserva_id" type="xs:long"/>
                <xs:element name="pin" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="validarPinAbordajeResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="exito" type="xs:boolean"/>
                <xs:element name="mensaje" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Upload Reservation Receipt -->
    <xs:element name="subirComprobanteReservaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reserva_id" type="xs:long"/>
                <xs:element name="file_base64" type="xs:string"/>
                <xs:element name="filename" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="subirComprobanteReservaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="message" type="xs:string"/>
                <xs:element name="comprobante_url" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get Occupied Seats for Scheduled Trip -->
    <xs:element name="getAsientosOcupadosFrecuenciaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viaje_programado_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAsientosOcupadosFrecuenciaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="asientos" type="xs:int" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Get Passenger Manifest for a Scheduled Trip -->
    <xs:element name="getReservasFrecuenciaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viaje_programado_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getReservasFrecuenciaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reservas" type="tns:reservaSoapType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Update Frequency State -->
    <xs:element name="updateEstadoFrecuenciaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="viaje_programado_id" type="xs:long"/>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="updateEstadoFrecuenciaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="exito" type="xs:boolean"/>
                <xs:element name="mensaje" type="xs:string"/>
                <xs:element name="estado" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Cancel/Refund Reservation (Admin) -->
    <xs:element name="cancelarReservaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reserva_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="cancelarReservaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mensaje" type="xs:string"/>
                <xs:element name="exito" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!-- Reschedule Reservation (Admin) -->
    <xs:element name="reprogramarReservaRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="reserva_id" type="xs:long"/>
                <xs:element name="nuevo_viaje_programado_id" type="xs:long"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="reprogramarReservaResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="mensaje" type="xs:string"/>
                <xs:element name="exito" type="xs:boolean"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
